li a {
    white-space: nowrap;
}

.menu {
    margin-left: 250px;
}

.item{
    padding-left: 30px
}
.btn-bd-contact {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;

}

.menu li a span {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: large;
}

.menu:hover li{
    opacity: .2;
}

.menu li {
    transition: all .2s ease-in-out;
}
.menu li:hover {
    transform: scale(1.5);
    opacity: 1;
}

.contact:hover{
    background-color: #1db954;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

header {
    background-color: #111;
}

.right-floaters {
    justify-items: stretch;
}

.navbar{
    border-bottom:2px solid white;
    padding-bottom:10px
}
