.carousel-control-next {
    margin-right: 100px;
}

.carousel-control-prev {
    margin-left: 100px;
}

.carousel-img{
    box-shadow: 0 1px 7px rgba(0,0,0,.7)
}

#carouselExampleControls {
    margin-top: 3px;
}