.left-col {
    float: left;
    width: 75%;
    border-right: 2px;
}

.right-col {
    float: right;
    width: 25%;
}

.card {
    margin: 10px;
    padding: 0px;
}

.card-header {
    max-height: 50px;
    overflow: auto;
}
.card-img {
    max-height: 200px;
    width: auto;
}

.button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}
